body{
    margin:0;
}
.panel{
    height:100vh;
    width:100vw;
    background-color:black;
    overflow:auto;
}
.child{
    height:40vh;
    width:100vw;
    background-color:blue;
}
.child1{
    height:40vh;
    width:100vw;
    background-color:purple;
}
.child2{
    height:40vh;
    width:100vw;
    background-color:red;
}
.child3{
    height:40vh;
    width:100vw;
    background-color:green;

}
.click{
    position:relative;
    height: 50px;
    width: 60px;
}
.click::after{
    content:"12";
    background-color:white;
    position:absolute;
    right:0%;
    top:0;
    transform:translate(50% ,-2%);
    height:2rem;
    width:2rem;
    border-radius:20px;
    
}
a:active{
    color:rgb(45, 238, 54);
}
.button:hover{
   background-color:aqua;
}
.search{
    color:white;
}
p{
    color:white;
}
li{
    color:white;
}
li::marker{
    color:red;
}
li:nth-last-of-type(2){
    color: red;
}
a[target="_blank"]{
    font-size:40px;
}
img[title~="luffy"]{
    height:50px;
}
.panel~p{
    color:red;
}