body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color:white;
}
.Topnav{
height: 45px;
width: 100%;
background-color:rgba(219, 213, 213,0.6);
font-size:27px;
box-sizing: border-box;text-align: center;
}
.home{
    float:left;
    background-color: rgb(37, 171, 248);
    color:white;
    height:45px;
    width:120px;
    padding-top:6px;
    box-sizing:border-box;
    border-left:3px solid white;
    border-top:3px solid white;
}
.dashboard{
    float:left;
    background-color: rgb(37, 171, 248);
    color:white;
    height:45px;
    width:150px;
    padding-top:6px;
    box-sizing:border-box;
    border-left:3px solid white;
    border-top:3px solid white;
}
.about{
    float:left;
    background-color: rgb(37, 171, 248);
    color:white;
    height:45px;
    width:120px;
    padding-top:6px;
    box-sizing:border-box;
    border-left:3px solid white;
    border-top:3px solid white;
}
.help{
    float:left;
    background-color: rgb(37, 171, 248);
    color:white;
    height:45px;
    width:120px;
    padding-top:6px;
    box-sizing:border-box;
    border-left:3px solid white;
    border-right:3px solid white;
    border-top:3px solid white;
}
.image{
    height:400px;
    width:30%;
    float:left;
}
img{
    height:400px;
    width:400px;
    padding:40px;
}
.heading{
    background-color: rgb(37, 171, 248);
    float:left;
    width:50%;
    height:70px;
    text-align:center;
    font-weight:bolder;
    font-size: 60px;
    color:white;
    text-align:center;
    margin-top:40px;
    margin-left:40px;
    margin-bottom: 10%;
}
.content{
    font-size:25px;
    border-radius:10px;
    background-color:rgba(219, 213, 213,0.6);
    float:left;
    margin-top:-147px;
    width:60%;
    height:400px;
    margin-bottom: 0%;
    padding-bottom: 0%10;
}