.product-card{
    border: 3px solid red;
    padding:10px;
    margin-top: 10vh;
    margin-left: 30vw;
    width: 40vw;
    display: inline-block;
    text-align: center;
}
.product-image{
    max-width: 100%;
    height: auto;
}
.product-title{
    font-weight: bold;
    margin-top: 5px;
}
.product-price{
    color: green;
}
.section-products{
    background-color: red;
}