body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
}
.main{
    display: grid;
    grid-template-columns: 15vw 15vw;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(222, 150, 62);
    border-radius: 20px;
    width: 40vw;
    height: 65vh;
}

h1{
    color: black;
    grid-column: span 2;
}

input{
    border-radius: 5px;
    width: 25vw;
}
