html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
.background-image {
    background-image: url('./images/bg3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.subcontainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    color: white;
}

.intro{
    height: 35vh;
    width: 45vw;
    border: 2px solid rgb(255, 217, 1);
    padding-top: 9vh;
    text-align: center;
}

.heading {
    font-size: 3em;
    font-weight: bold;
}

.subhead{
    font-size: 1.6em;
    color: rgba(255, 255, 255, 0.61);
}

.nav-items{
    color: rgba(255, 255, 255, 0.61);
    margin: 0.5vw;
    font-size: 1.2em;
}

a:hover,a:focus{
    text-decoration: underline;
    color: white;
    text-underline-offset: 5px;
    text-decoration-color: rgb(255, 217, 1);
}

.about{
    color: rgba(255, 255, 255, 0.61);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5vh 8vh 15vh 55vh 40vh;
}

.aboutFirstCol{
    padding: 1.5vh 5vw;
    font-size: 1.5em;
}

.aboutSecCol{
    grid-column: span 2;
    grid-row: span 3;
    margin-left: 5vw;
    margin-top: 20vh;
}

.secCol_1{
    font-size: 2.5em;
    color: rgb(255, 217, 1);
    font-weight: bold;
}

.secCol_2{
    font-size: 1.2em;
}

.secCol_3{
    font-weight: bold;
    color: white;
}

.secCol_4{
    font-size: 1.2em;
    color: white;
}

.aboutSecRow{
    padding-left: 5vw;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.aboutThirdRow{
    grid-row: span 2;
}

.abtimg{
    width: 20vw;
    margin-left: 5vw;
    border-left: 8px solid rgb(255, 217, 1);
    border-top: 8px solid rgb(255, 217, 1);
    border-right: 8px solid black;
    border-bottom: 8px solid black;
    box-shadow: 3vh 3vh rgb(255, 217, 1);
}

.info{
    text-align: left;
    font-size: 1.5em;
}

li{
    margin: 2vh;
}

.listValue{
    font-size: 1.2rem;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.61);
}

.aboutFourthRow{
    padding: 1.5vh 5vw;
    font-size: 2.2em;
    color: white;
    grid-column: span 3;
    grid-row: span 1;
}

.resume{
    display: grid;
    grid-template-columns: 10vh 40vh 40vh;
    grid-template-rows: 5vh 8vh 15vh 55vh 40vh;
    color: white;
    margin-left: 5vw;
}
.resumeFirstRow{
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.61);
}

@media screen and (max-width:600px){
    .heading{
        font-size: 2em;
    }

    .subhead{
        font-size: 1.1em;
    }

    .nav-items{
        margin: 0.5vh;
        font-size: 0.9em;
    }

    .aboutFirstCol{
        font-size: 0.9em;
    }

    .secCol_1{
        font-size: 1.5em;
        margin-top: -6vh;
    }

    .aboutSecRow{
        font-size: 1.2em;
    }
}
